html {
    color: whitesmoke;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0 auto;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-color: #000;
    width: 100vw;
    opacity: 0.9;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: #000
  }
body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0); 
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    max-height: 100px;
}
.cabecalho .logo{
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    padding-right: 15px;
}
.cabecalho .textlogo{
    padding: 5px;
    transition: 0.3s;
}
.cabecalho .arisialogo {
    width: 100px;
    height: 100px;
    min-width: 100px;
    padding: 15px;
    padding-top: 17px;
    padding-bottom: 13px;
}
.cabecalho .menu {
    padding: 15px;
    padding-right: 30px;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 500;
}
.cabecalho .textlogo:hover{
    transform: scale(1.06);
}
.cabecalho .menu .comojogar{
    padding: 10px;
}
.cabecalho .menu .suporte {
    padding: 10px;
    padding-right: 15px\;
}
.home{
    display: flex;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: space-evenly;
    font-family: "raleway";
    font-weight: 700;
    gap: 10px;
}
.home .informacoes{
    display: flex;
    flex-direction: column;
    gap: 13px;
    letter-spacing: 2px;
    padding: 0 0 0 20px;
    max-width: 60%;
}
.home .informacoes h1{
    font-size: 40px;
}
.home .informacoes h2{
    font-size: 22px;
}
.home .informacoes h3{
    font-size: 22px;
}
.home .invite{
    padding-right: 70px;
}
.howtoplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    background-image: url(../img/background2.png);
    background-size: 100vw;
    gap: 15px;
}
.howtoplay .title{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 300;
}
.howtoplay .informacoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    width: 60vw;
}
.howtoplay .informacoes a{
    color: #a1bff0;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
}
.howtoplay .informacoes h1{
    font-size: 20px;
}
.howtoplay .title2{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 300;
}
.howtoplay .infoRoleplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    width: 60vw;
}
.howtoplay .infoRoleplay h1{
    font-family: "Raleway";
    font-size: 20px;
}
.howtoplay .info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.howtoplay .info h1{
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
}
.howtoplay .info a{
    color: #a1bff0;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
}